@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  background-color: #f3f3f3;
}

html,
body {
  margin: 0;
  padding: 0;
}
